# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
generatedReport
allure-report/*
.hypothesis/
.pytest_cache/
*.log
*.*~
.pytest_cache

# Environments
!.gitkeep
.env
.venv
env/
venv/
env.bak/
venv.bak/
setup.py
allure*
.DS*


# Idea
.idea/

# Test code
*simple_*
*sample_*